@use 'accessible-components-variables' as *;

fieldset {
    padding: 32px 0 0;
    border: 0;
    border-top: 1px solid $color-component-border;
    margin: 0 0 32px;
}

legend {
    float: left;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 8px 0;

    &::after {
        content: '.';
    }
}

label,
.label {
    display: block;
    font-size: 20px;
    padding: 4px 4px 4px 0;
    margin: 0 0 8px 0;
}

.label {
    cursor: default;
}

select,
.select {
    font-size: 20px;
}

.select {
    display: inline-block;
    position: relative;
    width: 100px; // else button collapses when listbox is [hidden]

    button {
        font-size: inherit;
        text-align: left;
    }

    button,
    [role='listbox'] {
        width: 100%;
        background-color: $color-component-bg;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid $color-component-border;
        border-radius: 2px;
    }

    [role='listbox'] {
        position: absolute;
        top: 29px; // height of button
        cursor: default;
    }

    button,
    [role='option'] {
        padding: 2px 4px;
    }

    [role='option'] {
        border-top: 1px solid $color-component-border;

        &:first-child {
            border-top: 0;
        }

        &[aria-selected='true'] {
            font-weight: bold;
        }
    }
}