body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 64px 32px 32px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;

    &::after {
        content: '.';
    }

    + p {
        margin-top: 8px;
        margin-bottom: 48px;
    }
}

code {
    font-size: 1.1em;
}
