:root {
    --color-focus: hsl(240, 100%, 50%);
    --color-component-bg: hsla(0, 0%, 100%, 1);
    --color-component-bg2: hsla(0, 0%, 0%, .05);
    --color-component-border: hsla(0, 0%, 60%, 1);
    --color-selected: rgb(0, 0, 0);
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 64px 32px 32px;
}

* {
    box-sizing: border-box;

    &:focus {
        outline-color: var(--color-focus);
    }
}

h1 {
    font-size: 64px;
    font-weight: bold;

    &::after {
        content: '.';
    }
}

code {
    font-size: 1.1em;
}

table {
    border: 1px solid var(--color-component-border);
    border-collapse: collapse;
    border-width: 1px 1px 0 0;

    th,
    td {
        vertical-align: top;
        font-size: .85em;
        text-align: left;
        padding: 6px;
        border: 1px solid var(--color-component-border);
        border-width: 0 0 1px 1px;
    }

    thead {
        th {
            background-color: var(--color-component-bg2);
        }
    }
}

hr {
    border: 1px solid var(--color-component-border);
    border-width: 1px 0 0;
    margin: 32px 0;
}
