:root {
    --color-focus: hsl(240, 100%, 50%);
    --color-component-bg: hsla(0, 0%, 100%, 1);
    --color-component-border: hsla(0, 0%, 60%, 1);
    --color-selected: rgb(20, 173, 0);
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 64px 32px 32px;
}

* {
    box-sizing: border-box;

    &:focus {
        outline-color: var(--color-focus);
    }
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;

    &::after {
        content: '.';
    }

    + p {
        margin-top: 8px;
        margin-bottom: 48px;
    }
}

code {
    font-size: 1.1em;
}
