@use 'accessible-components-variables' as *;

.tabbed-carousel {
    img {
        display: block;
    }

    [hidden] {
        display: none;
    }

    button {
        cursor: pointer;

        &[disabled] {
            opacity: .7;
            cursor: not-allowed;
        }
    }

    &__tablist {
        display: flex;
        float: left;
        width: 156px; // 44*3, 8*3

        flex-direction: row;
        flex-wrap: wrap;
    }

    &__tab {
        padding: 0;
        border: 3px solid transparent;
        margin: 0 .5rem .5rem 0;

        &[aria-selected='true'] {
            border-color: $color-selected;
        }

        > img {
            pointer-events: none;
        }
    }

    &__tabpanel-title {
        position: absolute;
        top: 1rem;
        left: 1rem;
        margin: 0;
    }

    &__tabpanel-img-wrap {
        width: 400px;
        height: 300px;

        &--collapsed {
            height: 160px;
            overflow: hidden;
        }
    }

    &__tabpanels {
        position: relative;
        width: 400px;
        margin-left: 156px;
    }

    &__tabpanels-nav {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__tabpanels-nav-expand {
        position: absolute;
        top: 1rem;
        left: 33.333%;
        z-index: 1;
        width: 33.333%;
        margin: 0;
    }

    &__tabpanels-nav-next,
    &__tabpanels-nav-previous {
        opacity: .5;
        width: 25%;
        height: 100%;
        border: 0;
    }
}
